.header {
    grid-area: h;
    background-color:#5b008a;
    border-radius: 10px;
  }
  
  .header img {
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    
  }
.item {
    color: white;
}  