.nav {
    grid-area: n;
    background-color:#ababab;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 24px;
    min-height: 700px;
  }

  .item {
    color: white;
    margin-bottom: 10px;
    padding-top: 10px;
}  

.active {
  color: gold;
}
